@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    user-select: none;
}

.usrname{
    background-color: #2322222e;
    backdrop-filter: blur(10px);
}
.half{
    width: 3.4vw;
    transition: all 1s;
}
.full{
    width: 12vw;
    transition: all 1s;
}
.Tasks-P{
    transition: all ease 0.8s;
}.Calendar-P{
    transition: all ease 0.8s;
}.Inbox-P{
    transition: all ease 0.8s;
}.Upcoming-P{
    transition: all ease 0.8s;
}
.user-nameP{
    transition: all ease 0.8s;
}